body{height: 2000px;}

button{background-color: transparent; border: none; padding: 0; cursor: pointer;}
a{color: inherit; text-decoration: none;}

select{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
select{-webkit-appearance:none; -moz-appearance:none; appearance: none;}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button{display: none;}

@media screen and (max-width: 1279px){
    header{position: fixed; width: 100%; z-index: 10; height: 74px;}
    /* header::after{
        content: '';
        display: block;
        width: 100%;
        height: 103px;
        background-color: #FFF;

        position: fixed;
        left: 0; top: 0; z-index: -1;
    } */

    /* .menuScreenPanel{display: none;} */
    /* header:not(:has(.btnMenu.active)) .menuScreenPanel{display: none;} */
    .menuScreenPanel:not(.active){
        /* display: none; */
        transform: translate(100%, 0);
    }
    .menuScreenPanel{
        background-color: #FFF;

        position: absolute;
        left: 0; top: 0;

        width: 100%;
        height: 100dvh;

        transition: transform ease-in-out .8s;
    }
    /* .menuScreenPanel::after{
        content: '';
        display: block;
        width: 65vh;
        height: inherit;

        position: absolute;
        left: 0; top: 0;

        background-image: url('../images/kcab_bg_siteMap.png');
        background-position: left top;
        background-size: cover;
        background-repeat: no-repeat;
    } */
    .menuScreenPanel .panelWrap{
        /* height: calc(100dvh - 183px); */
        /* margin-left: 65vh; */
        /* padding-right: 4%; */
        margin-top: 74px;
        /* margin-bottom: 80px; */

        /* display: flex; */
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .menuScreenPanel .panelWrap .innerBox{
        height: calc(100dvh - 74px);
        overflow-y: auto;

        width: 100%;

        padding-inline: 4%;
        padding-top: 40px;
        
        box-sizing: border-box;
    }
    .menuScreenPanel ol{
        /* padding-left: 100px; */

        width: 100%;
        /* max-width: 1020px; */
        margin: 0 auto;
        /* height: inherit; */
        /* overflow-y: auto; */

        display: flex;
        flex-direction: column;
        justify-content: center;

        /* padding-top: 104px; */
        box-sizing: border-box;
    }
    .menuScreenPanel .panelWrap .innerBox{
        -ms-overflow-style: none;
    }
    .menuScreenPanel .panelWrap .innerBox::-webkit-scrollbar{
        display:none;
    }
    .menuScreenPanel ol>li{display: block;}
    .menuScreenPanel ol>li{cursor: pointer;}
    .menuScreenPanel ol>li{
        padding-bottom: 24px;
        margin-bottom: 24px;
    }
    .menuScreenPanel ol>li:not(:last-of-type){
        border-bottom: 1px solid #EBEBEB;
    }
    .menuScreenPanel ol>li.active:not(:last-of-type){
        border-bottom: 1px solid #2E15B1;
    }
    .menuScreenPanel ol>li h3{
        color: #626D84;

        display: flex;
        align-items: center;

        transition: color ease-out .4s;
    }
    .menuScreenPanel ol>li:hover h3,
    .menuScreenPanel ol>li.active h3{
        color: #2E15B1;
        font-weight: 500;
    }
    .menuScreenPanel ol>li:not(.active) h3 a{
        display: none;
    }
    .circleMore.purple{
        background-color: rgba(46, 21, 177, 0.1);
    }
    .circleMore.purple::after{
        background-image: url('../images/kcab_icon_more.svg');
    }
    .circleMore.gray{
        background-color: #F5F4F0;
    }
    .circleMore.gray::after{
        background-image: url('../images/kcab_icon_more_black.svg');
    }
    .circleMore{
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        position: relative;

        text-indent: -9999px;
        margin-left: auto;
    }
    .circleMore::after{
        content: '';
        display: block;

        position: absolute;
        left: 50%; top: 50%;
        width: 20px;
        height: 20px;

        background-position: center;
        background-repeat: no-repeat;

        /* transform: translate(-50%, -50%) rotateZ(45deg); */
        transform: translate(-50%, -50%);

        transition: transform ease-out .6s;
    }
    .menuScreenPanel ol>li.active h3 a::after{
        transform: translate(-50%, -50%);
    }
    .menuScreenPanel ul{
    -ms-overflow-style: none;
    }
    .menuScreenPanel ul::-webkit-scrollbar{
    display:none;
    }
    .menuScreenPanel ul{
        padding-top: 24px;

        color: #626D84;

        /* white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden; */

        /* height: 48px; */

        display: flex;
        flex-direction: column;
        gap: 16px 0;
        /* flex-wrap: wrap; */
    }
    .menuScreenPanel ul li{
        display: inline-block;
        position: relative;
        /* text-align: center; */

        
    }
    .menuScreenPanel ul li a{
        display: block;
        transition: color ease-out .4s;
    }
    .menuScreenPanel ul li:hover a{
        font-weight: 600; color: #222; text-decoration: underline;
    }
    /* .menuScreenPanel ul li a::after{
        content: attr(data-text);
        display: block;
        font-weight: 600;

        height: 0px; visibility: hidden;
    }
    .menuScreenPanel ul li:not(:last-of-type){
        padding-right: 28px; margin-right: 24px;
    } */
    /* .menuScreenPanel ul li::after{
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.1);

        position: absolute;
        right: 0; top: 8px;
    } */

    
    .menuDropPanel{display: none;}
    
    header .menuDefault nav{display: none;}

    .menuDefault{
        position: relative;
        z-index: 1;
        background-color: #FFF;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 20px;
        padding-inline: 4%;

        height: 74px;
        box-sizing: border-box;
    }
    .menuDefault h1{width: 92px;}
    .menuDefault h1 a{display: block;}
    .menuDefault h1 a img{display: block; width: 100%;}
    .menuDefault div{
        display: flex;
        align-items: center;

        justify-content: flex-end;
    }
    /* .menuDefault>div{
        gap: 1vw;
        width: 92%;
    } */

    .menuDefault>div nav{
        flex: 1;
        font-size: min(1vw, 16px);
    }
    .menuDefault>div div.headerBtnBox{
        justify-content: flex-end;
        gap: 24px;
    }
    .menuDefault>div nav ul{
        display: flex;
        /* justify-content: space-between; */
        justify-content: flex-end;
        gap: max(1.6vw, 16px);

        /* width: 840px; */
    }
    .menuDefault>div nav ul li{
        color: rgba(35, 24, 21, 0.4);

        position: relative;
    }
    .menuDefault>div nav ul li.active{
        color: rgba(35, 24, 21, 1);
    }
    .menuDefault>div nav ul li:after{
        content: '';
        display: block;
        width: calc(100% + 12px);
        height: 11px;
        background-color: rgba(46, 21, 177, 0.2);

        position: absolute;
        left: -6px; bottom: -2px;
        z-index: -1;

        transform-origin: center;
        transform: scaleX(0);

        transition: transform ease-out .4s;
    }
    .menuDefault>div nav ul li.active:after{transform: scaleX(1);}
    .menuDefault>div nav ul li a{display: block;}

    .btnSearch:not(.mui){display: none;}
    .btnSearch{
        width: 100%;

        height: 42px;
        border-radius: 21px;
        padding-block: 6px;
        padding-inline: 24px 44px;

        margin-bottom: 40px;

        /* background-image: url('../images/kcab_icon_search.svg');
        background-position: calc(100% - 22px) center;
        background-repeat: no-repeat; */
    }
    .btnSearch::after{
        content: '';
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 4px;

        background-image: url('../images/kcab_icon_search.svg');
        background-position: center;
        background-repeat: no-repeat;
    }

    .langWrap{position: relative;}
    .btnLang{
        width: 24px;
        height: 24px;
        text-indent: -9999px;

        background-image: url('../images/kcab_icon_lang.svg');
        background-position: center;
        background-repeat: no-repeat;
    }
    .langWrap:not(.active) .langLayer{display: none;}
    .langLayer{
        position: absolute;
        left: -24px;
        top: 0;
        padding-top: 32px;

    }
    .langLayer div{
        background-color: #FFF;
        border: 1px solid #EBEBEB;
        border-radius: 12px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.04);

        flex-direction: column;

        padding-block: 12px;
        padding-inline: 8px;
    }
    .langLayer a{
        display: block;
        width: 60px;
        line-height: 35px;
        text-align: center;

        font-weight: 500;
        color: #626D84;
    }
    .langLayer a:hover{font-weight: 600; text-decoration: underline; color: #222;}

    .btnMenu{width: 24px; height: 24px; padding: 3px 2px;}
    .btnMenu span{
        display: block; height: 2px; border-radius: 1px;

        transition-property: width, opacity, transform;
        transition-duration: .3s, .3s, .46s;
        transition-timing-function: ease-out;

        transform-origin: right center;
    }
    .btnMenu span:nth-of-type(1){width: 20px; background-color: var(--btn-color-black);}
    .btnMenu span:nth-of-type(2){width: 12px; background-color: var(--btn-color-blue); margin-left: auto;}
    .btnMenu span:nth-of-type(3){width: 20px; background-color: var(--btn-color-black);}
    .btnMenu span:not(:last-of-type){margin-bottom: 6px;}

    .btnMenu:hover span:nth-of-type(2){width: 20px;}

    .btnMenu.active span:nth-of-type(1){transform: translateX(-3px) translateY(1px) rotate(-45deg);}
    .btnMenu.active span:nth-of-type(2){opacity: 0;}
    .btnMenu.active span:nth-of-type(3){transform: translateX(-3px) translateY(-1px) rotate(45deg);}

    footer{
        background-color: #131720;
    }
    footer .topBox{
        padding-block: 40px;
        /* padding-inline: 12%; */
        padding-inline: 4%;
        max-width: 1440px;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;

        flex-direction: column;
        gap: 50px;
    }
    /* footer .topBox .leftBox{
        padding-right: 100px;
    } */
    footer .topBox .leftBox h2{
        margin-bottom: 20px;
    }
    footer .topBox .leftBox p{
        /* width: 230px; */
        line-height: 130%;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 24px;
    }
    footer .topBox .leftBox>div{
        display: flex;
        align-items: center;
    }
    footer .topBox .leftBox .snsList{
        /* margin-bottom: 32px; */
        /* width: 50%; */
        flex: 1;
    }
    footer .topBox .leftBox .snsList li{
        display: inline-block;
        height: 20px;
    }
    footer .topBox .leftBox .snsList li:nth-of-type(1){background-image: url('../images/kcab_icon_footer_linkedin.svg'); width: 20px;}
    footer .topBox .leftBox .snsList li:nth-of-type(2){background-image: url('../images/kcab_icon_footer_youtube.svg'); width: 25px; margin-left: 16px;}
    footer .topBox .leftBox .snsList li a{
        display: block;
        text-indent: -9999px;
    }
    footer .topBox .leftBox .customSelect{
        /* display: inline-block; */
        width: 180px;
        
        position: relative;
    }
    footer .topBox .leftBox .customSelect button{
        background-color: rgba(217, 217, 217, 0.1);

        width: 100%;
        height: 46px;
        border-radius: 23px;

        color: rgba(255, 255, 255, 0.5);
        text-align: left;

        padding-inline: 26px;

        position: relative;
    }
    footer .topBox .leftBox .customSelect button::after{
        content: '';
        display: block;
        width: 20px;
        height: 20px;

        background-image: url('../images/kcab_select_white.svg');
        background-repeat: no-repeat;
        background-position: center;

        position: absolute;
        right: 20px; top: 12px;

        transition: transform ease-out .4s;
    }
    footer .topBox .leftBox .customSelect button.active::after{
        transform: rotate(-180deg);
    }
    footer .topBox .leftBox .customSelect .linkList:not(.active){
        display: none;
    }
    footer .topBox .leftBox .customSelect .linkList{
        background-color: #272B33;
        color: rgba(255, 255, 255, 0.5);

        padding: 24px;

        position: absolute;
        left: 0; top: 0;
        transform: translate(0, calc(-100% - 12px));

        width: 100%;
        box-sizing: border-box;
        border-radius: 23px;
    }
    footer .topBox .leftBox .customSelect .linkList li{
        display: block;
    }
    footer .topBox .leftBox .customSelect .linkList li:not(:last-of-type){
        margin-bottom: 24px;
    }
    footer .topBox .rightBox h3{
        color: #FFF;
        margin-bottom: 20px;
        
        font-size: 16px !important;
    }
    footer .topBox .rightBox ul{
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        gap: 16px;
    }
    footer .topBox .rightBox ul>li{
        flex: 1;
        /* width: 250px; */
        background-color: rgba(255, 255, 255, 0.05);
        padding: 20px 16px;
        border-radius: 16px;

        display: block;
        cursor: pointer;

        transition: background-color ease-out .2s;
    }
    footer .topBox .rightBox ul>li:hover{
        background-color: rgba(255, 255, 255, 0.1);
    }
    footer .topBox .rightBox ul>li h4{
        color: #7D6CFF;
        margin-bottom: 24px;
    }
    footer .topBox .rightBox ul>li h4 span{
        color: rgba(255, 255, 255, 0.4);
        display: block;
        margin-top: 4px;
    }
    footer .topBox .rightBox ul>li address{
        color: rgba(255, 255, 255, 0.5);
        line-height: 140%;

        font-style: normal;
        margin-bottom: 15px;

        width: 220px;
    }
    footer .topBox .rightBox ul>li ol li{
        display: block;
        line-height: 160%;
    }
    footer .topBox .rightBox ul>li ol li a{
        display: block;
        color: rgba(255, 255, 255, 0.5);
    }
    footer .topBox .rightBox ul>li ol li a.infoTell::before{
        content: 'T ';
    }
    footer .topBox .rightBox ul>li ol li a.infoEmail::before{
        content: 'E ';
    }
    footer .bottomBox{
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-block: 24px;
    }
    footer .bottomBox .innerBox{
        /* padding-inline: 12%; */
        padding-inline: 4%;
        /* max-width: 1440px; */
        /* margin: 0 auto; */

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        color: rgba(255, 255, 255, 0.4);
    }
    footer .bottomBox .innerBox ul li{
        display: inline-block;
    }
    footer .bottomBox .innerBox ul li:not(:last-of-type){
        margin-right: 24px;
    }
}

@media screen and (min-width: 1280px){
    .mui{display: none;}

    header{position: fixed; width: 100%; z-index: 10; height: 103px;}
    header::after{
        content: '';
        display: block;
        width: 100%;
        height: 103px;
        background-color: #FFF;

        position: fixed;
        left: 0; top: 0; z-index: -1;
    }

    /* .menuScreenPanel{display: none;} */
    /* header:not(:has(.btnMenu.active)) .menuScreenPanel{display: none;} */
    .menuScreenPanel:not(.active){
        /* display: none; */
        transform: translate(100%, 0);
    }
    .menuScreenPanel{
        background-color: #FFF;

        position: absolute;
        left: 0; top: 0;

        width: 100%;
        height: 100dvh;

        transition: transform ease-in-out .8s;
    }
    .menuScreenPanel::after{
        content: '';
        display: block;
        width: 65vh;
        height: inherit;

        position: absolute;
        left: 0; top: 0;

        background-image: url('../images/kcab_bg_siteMap.png');
        background-position: left top;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .menuScreenPanel .panelWrap{
        height: calc(100dvh - 183px);
        margin-left: 65vh;
        padding-right: 4%;
        margin-top: 103px;
        margin-bottom: 80px;

        display: flex;
    }
    .menuScreenPanel .panelWrap .innerBox{
        height: 80dvh;
        overflow-y: auto;

        width: 100%;
    }
    .menuScreenPanel ol{
        padding-left: 100px;

        width: 100%;
        /* max-width: 1020px; */
        margin: 0 auto;
        /* height: inherit; */
        /* overflow-y: auto; */

        display: flex;
        flex-direction: column;
        justify-content: center;

        /* padding-top: 104px; */
        box-sizing: border-box;
    }
    .menuScreenPanel .panelWrap .innerBox{
    -ms-overflow-style: none;
    }
    .menuScreenPanel .panelWrap .innerBox::-webkit-scrollbar{
    display:none;
    }
    .menuScreenPanel ol>li{display: block;}
    .menuScreenPanel ol>li{cursor: pointer;}
    .menuScreenPanel ol>li{
        padding-bottom: 24px;
        margin-bottom: 24px;
    }
    .menuScreenPanel ol>li:not(:last-of-type){
        border-bottom: 1px solid #EBEBEB;
    }
    .menuScreenPanel ol>li.active:not(:last-of-type){
        border-bottom: 1px solid #2E15B1;
    }
    .menuScreenPanel ol>li h3{
        color: #626D84;

        display: flex;

        transition: color ease-out .4s;
    }
    .menuScreenPanel ol>li:hover h3,
    .menuScreenPanel ol>li.active h3{
        color: #2E15B1;
        font-weight: 500;
    }
    .menuScreenPanel ol>li:not(.active) h3 a{
        display: none;
    }
    .circleMore.purple{
        background-color: rgba(46, 21, 177, 0.1);
    }
    .circleMore.purple::after{
        background-image: url('../images/kcab_icon_more.svg');
    }
    .circleMore.gray{
        background-color: #F5F4F0;
    }
    .circleMore.gray::after{
        background-image: url('../images/kcab_icon_more_black.svg');
    }
    .circleMore{
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        position: relative;

        text-indent: -9999px;
        margin-left: auto;
    }
    .circleMore::after{
        content: '';
        display: block;

        position: absolute;
        left: 50%; top: 50%;
        width: 20px;
        height: 20px;

        background-position: center;
        background-repeat: no-repeat;

        /* transform: translate(-50%, -50%) rotateZ(45deg); */
        transform: translate(-50%, -50%);

        transition: transform ease-out .6s;
    }
    .menuScreenPanel ol>li.active h3 a::after{
        transform: translate(-50%, -50%);
    }
    .menuScreenPanel ul{
    -ms-overflow-style: none;
    }
    .menuScreenPanel ul::-webkit-scrollbar{
    display:none;
    }
    .menuScreenPanel ul{
        padding-top: 24px;

        color: #626D84;

        /* white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden; */

        /* height: 48px; */

        display: flex;
        gap: 12px 0;
        flex-wrap: wrap;
    }
    .menuScreenPanel ul li{
        display: inline-block;
        position: relative;
        text-align: center;

        
    }
    .menuScreenPanel ul li a{
        display: block;
        transition: color ease-out .4s;
    }
    .menuScreenPanel ul li:hover a{
        font-weight: 600; color: #222; text-decoration: underline;
    }
    .menuScreenPanel ul li a::after{
        content: attr(data-text);
        display: block;
        font-weight: 600;

        height: 0px; visibility: hidden;
    }
    .menuScreenPanel ul li:not(:last-of-type){
        padding-right: 28px; margin-right: 24px;
    }
    .menuScreenPanel ul li::after{
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.1);

        position: absolute;
        right: 0; top: 8px;
    }


    .menuDropPanel:not(.active){
        transform: translate(0, -100%);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0);
    }
    .menuDropPanel.active{
        transform: translate(0, 0);
    }
    .menuDropPanel{
        background-color: #FFF;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

        transition: transform ease-out .6s;
        transition-property: transform, box-shadow;

        position: relative;
        z-index: -2;
    }
    .menuDropPanel ol{
        display: flex;
    }
    .menuDropPanel ol>li{
        list-style: none;

        flex: 1;
        padding-block: 30px;
        padding-inline: 24px;

        transition: background-color ease-out .4s;
    }
    .menuDropPanel ol>li:not(:last-of-type){
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
    .menuDropPanel ol>li.active,
    .menuDropPanel ol>li:hover{
        background-color: rgba(46, 21, 177, 0.05);
    }
    .menuDropPanel ol li ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menuDropPanel ol li ul li{
        text-align: center;
        list-style: none;
        line-height: 140%;
        color: rgba(98, 109, 132, 1);

        transition: color ease-out .2s;

        padding-bottom: 24px;
    }
    .menuDropPanel ol li ul:has(li.active) li:not(.active){
        color: rgba(98, 109, 132, 0.4);
    }
    .menuDropPanel ol li ul li.active{
        text-decoration: underline;
        color: #2E15B1;
    }
    .menuDropPanel ol li ul li:not(.active) a span{
        clip-path: circle(0% at 50% 50%);
    }
    .menuDropPanel ol li ul li a span{
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #2E15B1;

        position: absolute; left: -12px; top: 8px;

        clip-path: circle(50% at 50% 50%);

        transition: clip-path ease-out .2s;
    }
    .menuDropPanel ol li ul li a{position: relative;}


    header:has(.menuScreenPanel.active) .menuDefault{
        background-color: transparent;
        
        justify-content: flex-end;
        height: 103px;
    }
    header:has(.menuScreenPanel.active) .menuDefault h1{display: none;}
    header:has(.menuScreenPanel.active) .menuDefault nav{display: none;}

    .menuDefault{
        position: relative;
        z-index: 1;
        background-color: #FFF;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 30px;
        padding-inline: 4%;
        
        gap: 16px;

        box-sizing: border-box;

        height: 103px;
    }
    /* .menuDefault h1{width: 20%; max-width: 117px;} */
    .menuDefault h1{width: 8%; max-width: 117px;}
    .menuDefault h1 a{display: block;}
    .menuDefault h1 a img{display: block; width: 100%;}
    .menuDefault div{
        display: flex;
        align-items: center;

        justify-content: flex-end;
    }
    .menuDefault>div{
        gap: 1vw;
        width: 92%;
    }

    .menuDefault>div nav{
        flex: 1;
        font-size: min(1vw, 16px);
    }
    .menuDefault>div div.headerBtnBox{
        /* gap: 30px; */
        /* width: 24%; */
        min-width: 300px;
        justify-content: flex-end;
        gap: min(2vw, 16px);
    }
    .menuDefault>div nav ul{
        display: flex;
        /* justify-content: space-between; */
        justify-content: flex-end;
        gap: max(1.6vw, 16px);

        /* width: 840px; */
    }
    .menuDefault>div nav ul li{
        color: rgba(35, 24, 21, 0.4);

        position: relative;
    }
    .menuDefault>div nav ul li.active{
        color: rgba(35, 24, 21, 1);
    }
    .menuDefault>div nav ul li:after{
        content: '';
        display: block;
        width: calc(100% + 12px);
        height: 11px;
        background-color: rgba(46, 21, 177, 0.2);

        position: absolute;
        left: -6px; bottom: -2px;
        z-index: -1;

        transform-origin: center;
        transform: scaleX(0);

        transition: transform ease-out .4s;
    }
    .menuDefault>div nav ul li.active:after{transform: scaleX(1);}
    .menuDefault>div nav ul li a{display: block;}

    .btnSearch{
        width: 240px;

        height: 34px;
        border-radius: 17px;
        padding-block: 6px;
        padding-inline: 24px 44px;

        background-image: url('../images/kcab_icon_search.svg');
        background-position: calc(100% - 22px) center;
        background-repeat: no-repeat;
    }

    .langWrap{position: relative;}
    .btnLang{
        width: 24px;
        height: 24px;
        text-indent: -9999px;

        background-image: url('../images/kcab_icon_lang.svg');
        background-position: center;
        background-repeat: no-repeat;
    }
    .langWrap:not(.active) .langLayer{display: none;}
    .langLayer{
        position: absolute;
        left: -24px;
        top: 0;
        padding-top: 32px;

    }
    .langLayer div{
        background-color: #FFF;
        border: 1px solid #EBEBEB;
        border-radius: 12px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.04);

        flex-direction: column;

        padding-block: 12px;
        padding-inline: 8px;
    }
    .langLayer a{
        display: block;
        width: 60px;
        line-height: 35px;
        text-align: center;

        font-weight: 500;
        color: #626D84;
    }
    .langLayer a:hover{font-weight: 600; text-decoration: underline; color: #222;}

    .btnMenu{width: 24px; height: 24px; padding: 3px 2px;}
    .btnMenu span{
        display: block; height: 2px; border-radius: 1px;

        transition-property: width, opacity, transform;
        transition-duration: .3s, .3s, .46s;
        transition-timing-function: ease-out;

        transform-origin: right center;
    }
    .btnMenu span:nth-of-type(1){width: 20px; background-color: var(--btn-color-black);}
    .btnMenu span:nth-of-type(2){width: 12px; background-color: var(--btn-color-blue); margin-left: auto;}
    .btnMenu span:nth-of-type(3){width: 20px; background-color: var(--btn-color-black);}
    .btnMenu span:not(:last-of-type){margin-bottom: 6px;}

    .btnMenu:hover span:nth-of-type(2){width: 20px;}

    .btnMenu.active span:nth-of-type(1){transform: translateX(-3px) translateY(1px) rotate(-45deg);}
    .btnMenu.active span:nth-of-type(2){opacity: 0;}
    .btnMenu.active span:nth-of-type(3){transform: translateX(-3px) translateY(-1px) rotate(45deg);}

    footer{
        background-color: #131720;
    }
    footer .topBox{
        padding-block: 80px;
        /* padding-inline: 12%; */
        padding-inline: 4%;
        max-width: 1440px;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
    }
    footer .topBox .leftBox{
        padding-right: 100px;
    }
    footer .topBox .leftBox h2{
        margin-bottom: 30px;
    }
    footer .topBox .leftBox p{
        width: 230px;
        line-height: 130%;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 24px;
    }
    footer .topBox .leftBox .snsList{
        margin-bottom: 32px;
    }
    footer .topBox .leftBox .snsList li{
        display: inline-block;
        height: 20px;
    }
    footer .topBox .leftBox .snsList li:nth-of-type(1){background-image: url('../images/kcab_icon_footer_linkedin.svg'); width: 20px;}
    footer .topBox .leftBox .snsList li:nth-of-type(2){background-image: url('../images/kcab_icon_footer_youtube.svg'); width: 25px; margin-left: 16px;}
    footer .topBox .leftBox .snsList li a{
        display: block;
        text-indent: -9999px;
    }
    footer .topBox .leftBox .customSelect{
        width: 218px;
        
        position: relative;
    }
    footer .topBox .leftBox .customSelect button{
        background-color: rgba(217, 217, 217, 0.1);

        width: 100%;
        height: 46px;
        border-radius: 23px;

        color: rgba(255, 255, 255, 0.5);
        text-align: left;

        padding-inline: 26px;

        position: relative;
    }
    footer .topBox .leftBox .customSelect button::after{
        content: '';
        display: block;
        width: 20px;
        height: 20px;

        background-image: url('../images/kcab_select_white.svg');
        background-repeat: no-repeat;
        background-position: center;

        position: absolute;
        right: 20px; top: 12px;

        transition: transform ease-out .4s;
    }
    footer .topBox .leftBox .customSelect button.active::after{
        transform: rotate(-180deg);
    }
    footer .topBox .leftBox .customSelect .linkList:not(.active){
        display: none;
    }
    footer .topBox .leftBox .customSelect .linkList{
        background-color: #272B33;
        color: rgba(255, 255, 255, 0.5);

        padding: 24px;

        position: absolute;
        left: 0; top: 0;
        transform: translate(0, calc(-100% - 12px));

        width: 100%;
        box-sizing: border-box;
        border-radius: 23px;
    }
    footer .topBox .leftBox .customSelect .linkList li{
        display: block;
    }
    footer .topBox .leftBox .customSelect .linkList li:not(:last-of-type){
        margin-bottom: 24px;
    }
    footer .topBox .rightBox h3{
        color: #FFF;
        margin-bottom: 20px;
    }
    footer .topBox .rightBox ul{
        display: flex;
        /* flex-wrap: wrap; */
        gap: 16px;
    }
    footer .topBox .rightBox ul>li{
        flex: 1;
        /* width: 250px; */
        background-color: rgba(255, 255, 255, 0.05);
        padding: 20px 16px;
        border-radius: 16px;

        display: block;
        cursor: pointer;

        transition: background-color ease-out .2s;
    }
    footer .topBox .rightBox ul>li:hover{
        background-color: rgba(255, 255, 255, 0.1);
    }
    footer .topBox .rightBox ul>li h4{
        color: #7D6CFF;
        margin-bottom: 24px;
    }
    footer .topBox .rightBox ul>li h4 span{
        color: rgba(255, 255, 255, 0.4);
        display: block;
        margin-top: 4px;
    }
    footer .topBox .rightBox ul>li address{
        color: rgba(255, 255, 255, 0.5);
        line-height: 140%;

        font-style: normal;
        margin-bottom: 15px;
    }
    footer .topBox .rightBox ul>li ol li{
        display: block;
        line-height: 160%;
    }
    footer .topBox .rightBox ul>li ol li a{
        display: block;
        color: rgba(255, 255, 255, 0.5);
    }
    footer .topBox .rightBox ul>li ol li a.infoTell::before{
        content: 'T ';
    }
    footer .topBox .rightBox ul>li ol li a.infoEmail::before{
        content: 'E ';
    }
    footer .bottomBox{
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-block: 24px;
    }
    footer .bottomBox .innerBox{
        /* padding-inline: 12%; */
        padding-inline: 4%;
        max-width: 1440px;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;

        color: rgba(255, 255, 255, 0.4);
    }
    footer .bottomBox .innerBox ul li{
        display: inline-block;
    }
    footer .bottomBox .innerBox ul li:not(:last-of-type){
        margin-right: 24px;
    }
}
