.contentWrap{padding-top: 103px;}

.mainSlideContainer .swiper-slide{
    height: 750px;
    overflow-y: scroll;
}
.mainSlideContainer .swiper-slide{
   -ms-overflow-style: none;
}
.mainSlideContainer .swiper-slide::-webkit-scrollbar{
  display:none;
}
.mainSlideContainer .swiper-slide .innerBox{
    height: 1120px;
    position: relative;
}
.mainSlideContainer .swiper-slide .innerBox .textBox{
    position: sticky;
    top: 100px;
    z-index: 1;
    
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 12%;
}
.mainSlideContainer .swiper-slide .innerBox .textBox h2{
    margin-bottom: 48px;
}
.mainSlideContainer .swiper-slide .innerBox img{
    width: 100%;
    position: absolute;
    bottom: 0;
}